.logo__text {
    width: 82px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0 0 0 10px;
}
