.pomodoroSection {
   margin-top: 15px;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   gap: 4px;
   isolation: isolate;
}