.appmenu-container {
    margin: 30px 0px 0px 30px;
}

.appmenu-list {
    font-family: 'Avenir Next';
}

.list-item {
    width: 145px;
}

.appmenu-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.appmenu-container a {
    text-decoration: none;
}

.menu__item-text {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu__item-text:hover {
    color: #ffff;
    font-weight: 600;
}

.menu-link {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
