@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/avenir/AvenirNext.woff2') format('woff2'),
        url('fonts/avenir/AvenirNext.woff') format('woff'),
        url('fonts/avenir/AvenirNext.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #3483AF, #211F89);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', Montserrat,
        monospace;
}
