body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(#3483AF, #211F89);
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 390px;
}
#root {
  width: 390px;
}
@font-face {
  font-family: Avenir Next;
  src: url("./fonts/Avenir Next/AvenirNextLTPro-Regular.otf") format("opentype");
  }