
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #3483AF, #211F89);
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', Montserrat,
    monospace;
}
